@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --foreground: #171717;
  --background: #e4e4e4; */
  --foreground: #e4e4e4;
  --background: #171717;
  --sidebar-width: 80px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #e4e4e4;
    --background: #171717;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

h1 {
  font-family: 'Canela Deck Web';
  font-size: 42px;
  line-height: 1.15;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.1px;
}
