@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --foreground: #171717;
  --background: #e4e4e4; */
  --foreground: #000000;
  --background: #ffffff;
  --sidebar-width: 80px;
  color-scheme: light;
}

@font-face {
  font-family: 'Canela';
  font-display: fallback;
  src: local('Canela-Thin'),
    url('/fonts/Canela/Canela-Thin.woff2') format('woff2'),
    url('/fonts/Canela/Canela-Thin.woff') format('woff');
  font-weight: 100;
}

@font-face {
  font-family: 'Canela';
  font-display: fallback;
  src: local('Canela-ThinItalic'),
    url('/fonts/Canela/Canela-ThinItalic.woff2') format('woff2'),
    url('/fonts/Canela/Canela-ThinItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Canela';
  font-display: fallback;
  src: local('Canela-Light'),
    url('/fonts/Canela/Canela-Light.woff2') format('woff2'),
    url('/fonts/Canela/Canela-Light.woff') format('woff');
  font-weight: 300;
}

@font-face {
  font-family: 'Canela';
  font-display: fallback;
  src: local('Canela-LightItalic'),
    url('/fonts/Canela/Canela-LightItalic.woff2') format('woff2'),
    url('/fonts/Canela/Canela-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Canela';
  font-display: fallback;
  src: local('Canela-Regular'),
    url('/fonts/Canela/Canela-Regular.woff2') format('woff2'),
    url('/fonts/Canela/Canela-Regular.woff2') format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'Canela';
  font-display: fallback;
  src: local('Canela-RegularItalic'),
    url('/fonts/Canela/Canela-RegularItalic.woff2') format('woff2'),
    url('/fonts/Canela/Canela-RegularItalic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Canela';
  font-display: fallback;
  src: local('Canela-Medium'),
    url('/fonts/Canela/Canela-Medium.woff2') format('woff2'),
    url('/fonts/Canela/Canela-Medium.woff') format('woff');
  font-weight: 500;
}

@font-face {
  font-family: 'Canela';
  font-display: fallback;
  src: local('Canela-MediumItalic'),
    url('/fonts/Canela/Canela-MediumItalic.woff2') format('woff2'),
    url('/fonts/Canela/Canela-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Canela';
  font-display: fallback;
  src: local('Canela-Bold'),
    url('/fonts/Canela/Canela-Bold.woff2') format('woff2'),
    url('/fonts/Canela/Canela-Bold.woff') format('woff');
  font-weight: 700;
}

@font-face {
  font-family: 'Canela';
  font-display: fallback;
  src: local('Canela-BoldItalic'),
    url('/fonts/Canela/Canela-BoldItalic.woff2') format('woff2'),
    url('/fonts/Canela/Canela-BoldItalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Canela';
  font-display: fallback;
  src: local('Canela-Black'),
    url('/fonts/Canela/Canela-Black.woff2') format('woff2'),
    url('/fonts/Canela/Canela-Black.woff') format('woff');
  font-weight: 900;
}

@font-face {
  font-family: 'Canela';
  font-display: fallback;
  src: local('Canela-BlackItalic'),
    url('/fonts/Canela/Canela-BlackItalic.woff2') format('woff2'),
    url('/fonts/Canela/Canela-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground: #e4e4e4;
    --background: #171717;
  }
} */

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

html {
  scroll-behavior: smooth;
}

*::selection {
  background: var(--background);
  color: var(--foreground);
}

body {
  color: var(--foreground);
  background: var(--background);
}

.hidden-scroll::-webkit-scrollbar {
  width: 0;
}

.grid-background {
  background-image: linear-gradient(
      rgba(140, 140, 140, 0.1) 1px,
      transparent 01px
    ),
    linear-gradient(90deg, rgba(119, 119, 119, 0.1) 1px, transparent 1px);
  background-size: 0.9em 0.9em;
}
